body{
    background-color: #12372A;
    color: #FFFFFF;
    font-family: "SF Pro Display", serif;
    font-size: 20px;
}
.outside-box{
    height: 600px;
    width: 1200px;
    background-color: #FFFFFF;
    position: relative;
    align-content: center;
}
.outside-box > #inside-circle{
    height: 300px;
    width: 300px;
    background-color: #BC002D;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    left: 450px;
}